.displaynone {
  display: none !important;
}
.relative {
  position: relative;
}
.center {
  text-align: center;
}
.displayblock {
  display: block !important;
}
.displayinlineblock {
  display: inline-block;
}
.color_005AAA {
  color: #005AAA !important;
}
.header {
  width: 100%;
  height: 1rem;
}
.header .nav_left {
  display: inline-block;
}
.header .nav_left .logo {
  height: 0.46rem;
  display: inline-block;
  width: 2.16rem;
  overflow: hidden;
  margin-right: 1.4rem;
}
.header .nav_left .logo img {
  width: 100%;
}
.header .nav_left .nav_detail {
  display: inline-block;
}
.header .nav_left .nav_detail a {
  display: inline-block;
  height: 0.14rem;
  font-size: 0.14rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 0.18rem;
  margin-right: 0.44rem;
}
.header .nav_left .nav_detail .shouye {
  margin-right: 0.29rem;
  padding: 0.13rem 0.16rem;
}
.header .nav_left .nav_detail .shouyexuanzhong {
  background-color: #005AAA;
  border-radius: 21px;
  color: #FFFFFF;
}
.header .nav_left .nav_detail .zuihou {
  margin-right: 0;
}
.header .nav_right {
  margin-left: 0.73rem;
  display: inline-block;
}
.header .nav_right a {
  display: inline-block;
  height: 0.13rem;
  font-size: 0.14rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 0.18rem;
  padding: 0 0.23rem;
}
.header .nav_right .register {
  padding-right: 0;
  border-left: 1px solid #E5E5E5;
}
.warp {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0.27rem 15px;
  box-sizing: border-box;
}
.warp2 {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.banner {
  width: 100%;
  height: 4.75rem;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: auto;
  /*需要分页自定义css*/
  /*需要左右箭头自定义css*/
}
.banner .pager {
  position: absolute;
  bottom: 0.2rem;
  text-align: center;
  width: 100%;
}
.banner .pager li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  vertical-align: middle;
  cursor: pointer;
  font-family: "iconfont" !important;
  color: #fff;
  font-size: 0.26rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  width: 0.08rem;
  height: 0.08rem;
  background: #ffffff;
  border-radius: 50%;
}
.banner .pager li.cur::before {
  content: '';
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
  top: -50%;
  left: -50%;
  margin-left: -0.03rem;
  margin-top: -0.03rem;
}
.banner img {
  width: 100%;
}
.banner .btn_prev,
.banner .btn_next {
  width: 0.18rem;
  height: 0.32rem !important;
  line-height: 0.32rem !important;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -0.3rem;
  cursor: pointer;
}
.banner .btn_prev i,
.banner .btn_next i {
  color: #fff;
  font-size: 0.32rem;
}
.banner .btn_prev {
  left: 1.66rem;
}
.banner .btn_next {
  right: 1.66rem;
}
.competition .title {
  padding: 0.52rem 0 0.52rem 0;
  font-size: 0.36rem;
  font-family: Microsoft YaHei UI;
  font-weight: bold;
  color: #333333;
}
.competition .content .content_left {
  padding-left: 0.61rem;
  display: inline-block;
}
.competition .content .content_left img {
  padding: 0.4rem 0 0.29rem 0;
}
.competition .content .content_left .p_box {
  width: 5.69rem;
}
.competition .content .content_left .p_box p {
  font-size: 0.14rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  line-height: 0.26rem;
}
.competition .content .content_left .p_box .p_first {
  padding-bottom: 0.15rem;
}
.competition .content .content_left a {
  margin-top: 0.42rem;
  margin-bottom: 1.49rem;
  display: inline-block;
  padding: 0.15rem 0.4rem;
  background: #005aaa;
  border-radius: 24px;
  font-size: 0.18rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #f0efed;
}
.competition .content .content_right {
  margin-left: 0.86rem;
  position: relative;
  vertical-align: top;
  display: inline-block;
}
.competition .content .content_right .img2_box {
  position: absolute;
  top: 0.54rem;
  left: 0.3rem;
  z-index: 100;
}
.competition .content .content_right .img2_box span {
  font-size: 0.22rem;
  font-family: Microsoft YaHei UI;
  font-weight: bold;
  color: #ffffff;
  line-height: 0.26rem;
}
.competition .content .content_right .img2_box .span1 {
  position: absolute;
  top: 1.1rem;
  left: 0.83rem;
}
.competition .content .content_right .img2_box .span2 {
  position: absolute;
  top: 2.02rem;
  left: 0.83rem;
  width: 0.26rem;
  height: 0.08rem;
  background: #ffffff;
}
.competition .content .content_right .img2_box .span3 {
  position: absolute;
  top: 2.28rem;
  left: 0.83rem;
}
.video {
  height: 7.27rem;
  width: 100%;
  position: relative;
  background: url(./tupian/矩形\ 35\ 拷贝\ 3@2x.png);
}
.video .warp2 {
  position: relative;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  box-sizing: border-box;
}
.video .video_img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.755rem;
  margin-left: -5.26rem;
}
.video .video_img img {
  display: inline-block;
  width: 10.52rem;
  height: 5.51rem;
}
.jury .title {
  padding: 0.38rem 0 0.5rem 0;
  font-size: 0.36rem;
  font-family: Microsoft YaHei UI;
  font-weight: bold;
  color: #333333;
  border-bottom: 1px solid #e7eaec;
}
.jury .list .item {
  box-sizing: border-box;
  padding-right: 0.48rem;
  padding-left: 0.32rem;
  display: inline-block;
  padding-top: 0.6rem;
}
.jury .list .item .jury_img {
  height: 2.17rem;
  width: 100%;
  border: 1px dashed #333;
}
.jury .list .item .jury_img img {
  height: 100%;
  width: 100%;
}
.jury .list .item .name {
  padding: 0.28rem 0 0.18rem 0;
  text-align: center;
  font-size: 0.24rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
}
.jury .list .item .intro {
  padding: 0 15px;
  height: 0.38rem;
  font-size: 0.14rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #999999;
  line-height: 0.24rem;
  text-align: center;
}
.title_left {
  float: left;
  font-size: 0.36rem;
  font-family: Microsoft YaHei UI;
  font-weight: bold;
  color: #333333;
}
.title_right {
  font-size: 0.14rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  float: right;
  line-height: 100%;
  padding: 0.13rem 0.18rem;
  border-radius: 20px;
  border: 1px solid #333333;
}
.dynamic .title {
  padding: 0.92rem 0 0 0;
  vertical-align: bottom;
}
.dynamic .content {
  padding-top: 0.69rem;
}
.dynamic .content .time {
  padding: 0.32rem 0 0.15rem 0;
  height: 0.17rem;
  font-size: 0.14rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 0.22rem;
}
.dynamic .content .left {
  width: 4.09rem;
  display: inline-block;
  padding-left: 0.82rem;
  margin-right: 1.75rem;
}
.dynamic .content .left .top {
  border-radius: 5px;
  width: 100%;
}
.dynamic .content .left .top img {
  width: 100%;
}
.dynamic .content .left .bottom {
  padding-left: 0.39rem;
  padding-right: 0.39rem;
  padding-bottom: 0.3rem;
  background: #f1f2f6;
}
.dynamic .content .left .bottom .title_intro {
  height: 0.53rem;
  font-size: 0.22rem;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #333333;
  line-height: 0.3rem;
  padding-bottom: 1.08rem;
}
.dynamic .content .left .bottom .more a {
  display: inline-block;
  height: 0.17rem;
  font-size: 0.18rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 0.22rem;
}
.dynamic .content .left .bottom .more span {
  font-size: 0.2rem;
}
.dynamic .content .right {
  display: inline-block;
  padding-top: 0.16rem;
  vertical-align: top;
}
.dynamic .content .right .tuiijan_item {
  padding-bottom: 0.58rem;
}
.dynamic .content .right .tuiijan_item .time {
  padding-top: 0;
  padding-bottom: 0.1rem;
}
.dynamic .content .right .tuiijan_item .time_title {
  width: 4.64rem;
  height: 0.44rem;
  font-size: 0.2rem;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 0.24rem;
}
.dynamic .content .right .tuiijan_item:last-child {
  padding-bottom: 0;
}
.winning_work .title {
  padding: 0.92rem 0 0 0;
  vertical-align: bottom;
}
.winning_work .work_list {
  padding-top: 0.86rem;
  padding-bottom: 0.66rem;
}
.winning_work .work_list .item {
  padding: 0 0.15rem 0.34rem 0;
}
.winning_work .work_list .item .img_box {
  width: 100%;
}
.winning_work .work_list .item .name {
  padding: 0.18rem 0;
  height: 0.18rem;
  font-size: 0.18rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 0.24rem;
}
.winning_work .work_list .item .author {
  padding-bottom: 0.21rem;
  height: 0.13rem;
  font-size: 0.14rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  line-height: 0.22rem;
}
.company {
  background-color: #f2f2f2;
}
.company .list {
  padding: 1rem 0 1rem 0;
}
.company .list .item p {
  padding-bottom: 0.18rem;
  height: 0.18rem;
  font-size: 0.18rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  line-height: 0.24rem;
}
.company .list .item .weixin_img {
  display: inline-block;
  padding-right: 0.2rem;
}
.company .list .item .weixin_img p {
  padding-top: 0.1rem;
  text-align: center;
}
.company .list .item .app_img {
  display: inline-block;
}
.company .list .item .app_img p {
  padding-top: 0.1rem;
  text-align: center;
}
.company .list .item .detail {
  padding-bottom: 0;
}
.footer {
  width: 100%;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  min-height: 405px;
  background: #f6f7f9;
}
.footer .warp {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 15px 0;
}
.footer .warp .list div {
  vertical-align: top;
}
.footer .warp .list span {
  font-size: 14px;
  padding: 15px 0;
  display: inline-block;
  font-weight: 700;
}
.footer .warp .list a {
  font-size: 12px;
  color: #444;
  display: inline-block;
  width: auto;
  padding: 5px 0;
}
.footer .warp .bottom {
  margin-top: 23px;
  padding: 15px 0;
  border-top: 1px solid #c8c8c8;
}
.footer .warp .bottom i {
  font-size: 12px;
  color: #444;
  display: inline-block;
  vertical-align: top;
  line-height: 1.25;
  padding: 0 10px;
}
.footer .warp .bottom a {
  font-size: 12px;
  color: #444;
  display: inline-block;
  vertical-align: top;
  line-height: 1.25;
}
.footer .warp .bottom .threeone div {
  display: inline-block;
}
.footer .warp .bottom .threeone:nth-child(4) {
  text-align: right;
}
.footer .warp .bottom .threeone:nth-child(4) span {
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
  color: #c8c8c8;
  cursor: pointer;
  position: relative;
  padding-left: 10px;
}
.footer .warp .bottom .threeone:nth-child(4) span:hover {
  color: #09bb07;
}
.footer .warp .bottom .threeone:nth-child(4) .sweep_code_box {
  position: absolute;
  padding: 5px;
  border: 1px solid #eee;
  background: #fff;
  right: -30px;
  bottom: 50px;
}
.footer .warp .bottom .threeone:nth-child(3) {
  text-align: center;
}
